@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	overflow-x: hidden;
}
.open #top-bun {
	transform: rotate(45deg) translate(4px, 3px);
}
.open #bottom-bun {
	transform: rotate(135deg) translate(-4px, 3px);
} 
.show {
	right: 0;
	overflow-y: hidden;
}
.overlayContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlayContainer:hover .overlay {
	height: 100%;
}  