@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
/*	overscroll-behavior-x: none;*/
}
.open #top-bun {
	transform: rotate(45deg) translate(4px, 3px);
}
.open #bottom-bun {
	transform: rotate(135deg) translate(-4px, 3px);
} 
.show {
	display: block;
	right: 0;
	overflow-y: hidden;
}
.overlayContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlayContainer:hover .overlay {
	height: 100%;
} 
 
.enabled {
	opacity: 1;
}
.underline {
	border-bottom: solid gray 2px;
} 
.error {
	color: red;
	visibility: 1;
}

.open-modal {
	display: block;
} 